.loading{
  text-align: center;
}

.homeContainer{
  position: relative;
}
.cartItem .fa, .fas{
  font-size: 60px;
  color: rgb(22, 22, 24);
}
.cartItem span{
  font-size: 40px;
}
.cartItem{
  position: absolute;
  right: 0;
  top: 50px;
}
